In [ ]:
# ourworldindata.org/coviddeaths

In [25]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import getpass

In [14]:
CovidDeaths=pd.read_excel("/Users/giacomorossini/Desktop/IRONHACK/Random_project/example/PortfolioProjects/CovidDeaths.xlsx")
CovidVaccinations=pd.read_excel("/Users/giacomorossini/Desktop/IRONHACK/Random_project/example/PortfolioProjects/CovidVaccinations.xlsx")

In [29]:
#second project for data cleaning 

housing = pd.read_excel("/Users/giacomorossini/Desktop/IRONHACK/Random_project/example/PortfolioProjects/Nashville Housing Data for Data Cleaning.xlsx")

In [26]:
password = getpass.getpass()

········

In [27]:
engine = create_engine('mysql+pymysql://root:' + password + '@localhost/ptf_project')

In [17]:
CovidDeaths.to_sql('CovidDeaths', con=engine, if_exists='append', index=False)

85171

In [18]:
CovidVaccinations.to_sql('CovidVaccinations', con=engine, if_exists='append', index=False)

85171

In [30]:
housing.to_sql('housing', con=engine, if_exists='append', index=False)

56477

In [32]:
import pymysql

#visualizing dataset in python using SQL library import

connection_string = 'mysql+pymysql://root:' + password + '@localhost/ptf_project'
engine = create_engine(connection_string)
data = pd.read_sql_query('SELECT * FROM ptf_project.housing', engine)

data

,INDEX,ParcelID,LandUse,PropertyAddress,SaleDate,SalePrice,LegalReference,SoldAsVacant,OwnerName,OwnerAddress,Acreage,TaxDistrict,LandValue,BuildingValue,TotalValue,YearBuilt,Bedrooms,FullBath,HalfBath
0,0,105 03 0D 008.00,RESIDENTIAL CONDO,"1208 3RD AVE S, NASHVILLE",2013-01-24,132000,20130128-0008725,No,None,None,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,105 11 0 080.00,SINGLE FAMILY,"1802 STEWART PL, NASHVILLE",2013-01-11,191500,20130118-0006337,No,"STINSON, LAURA M.","1802 STEWART PL, NASHVILLE, TN",0.17,URBAN SERVICES DISTRICT,32000.0,134400.0,168300.0,1941.0,2.0,1.0,0.0
2,2,118 03 0 130.00,SINGLE FAMILY,"2761 ROSEDALE PL, NASHVILLE",2013-01-18,202000,20130124-0008033,No,"NUNES, JARED R.","2761 ROSEDALE PL, NASHVILLE, TN",0.11,CITY OF BERRY HILL,34000.0,157800.0,191800.0,2000.0,3.0,2.0,1.0
3,3,119 01 0 479.00,SINGLE FAMILY,"224 PEACHTREE ST, NASHVILLE",2013-01-18,32000,20130128-0008863,No,"WHITFORD, KAREN","224 PEACHTREE ST, NASHVILLE, TN",0.17,URBAN SERVICES DISTRICT,25000.0,243700.0,268700.0,1948.0,4.0,2.0,0.0
4,4,119 05 0 186.00,SINGLE FAMILY,"316 LUTIE ST, NASHVILLE",2013-01-23,102000,20130131-0009929,No,"HENDERSON, JAMES P. & LYNN P.","316 LUTIE ST, NASHVILLE, TN",0.34,URBAN SERVICES DISTRICT,25000.0,138100.0,164800.0,1910.0,2.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56472,56631,093 13 0B 274.00,RESIDENTIAL CONDO,"320 11TH AVE S, NASHVILLE",2016-10-06,210000,20161007-0106599,No,None,None,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56473,56632,093 13 0D 044.00,RESIDENTIAL CONDO,"700 12TH AVE S, NASHVILLE",2016-10-25,338000,20161101-0115186,No,None,None,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56474,56633,093 13 0D 048.00,RESIDENTIAL CONDO,"700 12TH AVE S, NASHVILLE",2016-10-04,742000,20161010-0106889,No,None,None,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56475,56634,093 13 0D 056.00,RESIDENTIAL CONDO,"700 12TH AVE S, NASHVILLE",2016-10-26,320000,20161031-0114730,No,None,None,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56476,56635,093 13 0D 094.00,RESIDENTIAL CONDO,"700 12TH AVE S, NASHVILLE",2016-10-27,330000,20161104-0117077,No,None,None,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN